
@media(max-width: 768px){
body{
  #relatedProductsList .item img, #featuredProductsList .item img, #latestProductsList img{
   
    width: 100%; /* width of container */
    // height: 200px; /* height of container */
    object-fit: cover;

}

#relatedProductsList .item img{
width: 100%; /* width of container */
height: 100%; /* height of container */
object-fit: cover;
}
  .navbar-expand-md .navbar-nav .dropdown-menu.header-drop {
    position: absolute;
    left: 0px;
    right: 0;
}
  .inner-fixed{
    position: static;
    margin-bottom: 20px;
  }
  #login-form{

    //   background:red;
    background-image: url('../img/backgrounds/login-form.jpg');
      height: calc(100vh - 70px);
    //   height: 100vh;
    display: flex;
      justify-content: center;
      align-items: center; 
      background-size: cover;
    
    .login-box{
        // background:green;
        width: 100% !important;
        margin: 0 auto;
        padding: 40px 30px;
        background-color: rgba(255,255,255,0.6);
        #login_seller{
width: 100%;
        }
        #login_buyer{
width: 100%;
        }
        
     
    }
    }
 
  
  nav.navbar{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index:99999;
    }
  #navigation-menu+section{
  //  padding-top: 100px;
   margin-top: 50px;
  //  padding-bottom: 150px;
  //  padding-top: 150px;
    }
    .box-menu{
        border-radius: 0px;
        margin-left: 10px;
        padding: 0 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
      
    }
    .owl-item {
      display: flex;
      flex: 1 0 auto;
      margin-left:0px;
  }
   .all-sector {

    .box-sector-right {
      .box-sector-right-top{
        height: 50px;
      } 
      .box-sector-right-bottom{
        height: 50px;
      } 
    }
    .box-sector-image {
      float: left;
      height: 100px;
      line-height: 100px;
      padding: 0 10px;
    }
   }
    .categories{
display: none;
    }
    #banner{
      img{ height: 50vh;}
  }
  
.quantity .input-group{
  width: 50%;
}
#relatedProductsList .item img{
   
  width: 100%; /* width of container */
  height: 100%; /* height of container */
  object-fit: cover;


}
#register-form{
  //   background:red;
background-image: url('../img/backgrounds/login-form.jpg');
height: calc(100vh - 70px);
//   height: 100vh;
display: flex;
justify-content: center;
align-items: center; 
background-size: cover;
  .register-box{
      // background:green;
      width: 100%;
      margin: 0 auto;
      // padding: 40px 30px;
    
      text-align: center;
      .form-control{
          border-radius: 0;
          margin-bottom: 10px;
      }





/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}







  }



#login-form{

  .login-box{
    // background:green;
    width: 100% ;
}}
}
}
  
}
@media(max-width:400px){
  #banner{
    img{ height: 50vh;}
}
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}